<app-counter></app-counter>

<button (click)="increment()">Increment</button>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>

==================================================================================================================

<app-login></app-login>

==========================================================================================================
<button (click)="getTodos()">getTodos()</button>
{{ todos | async | json }}
